@tailwind base;
@tailwind components;
@tailwind variants;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700&display=swap');

:root {
    --clr-menu-light-one: #FFF083;
    --clr-menu-light-two: #AAEEC4;
    --clr-menu-light-three: #917eda;
    --clr-menu-dark-one: #c0ab3c;
    --clr-menu-dark-two: #446d54;
    --clr-menu-dark-three: #6749d1;
    --clr-menu-item: var(--clr-menu-one);
}

/* ! Reset */
body,
html {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.medium {
    font-weight: 400;
}

.thin {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.content {
    max-width: 50%;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, calc(-100% - 20px));
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: end;
    z-index: 99;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.header header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 6px;
    padding: 50px;
    width: 100%;
    height: 100%;
    margin-bottom: 6px;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.header header nav {
    background-image: linear-gradient(to bottom, #7a7a7a 0 10%, rgba(255, 255, 255, 0) 10%);
    background-position: left top;
    background-repeat: repeat-y;
    background-size: 1px 8px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.header header nav p {
    color: #888;
    padding: 6px;
    text-transform: uppercase;
    font-size: .6rem;
    position: relative;
}

.header header nav p:first-child {
    transform: translateY(-50%);
    padding: 0 6px;
}

.header header nav p:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 3px;
    height: 3px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: var(--clr-menu-item);
}

.item-one-light {
    --clr-menu-item: var(--clr-menu-light-one);
}

.item-two-light {
    --clr-menu-item: var(--clr-menu-light-two);
}

.item-three-light {
    --clr-menu-item: var(--clr-menu-light-three);
}

.item-one-dark {
    --clr-menu-item: var(--clr-menu-dark-one);
}

.item-two-dark {
    --clr-menu-item: var(--clr-menu-dark-two);
}

.item-three-dark {
    --clr-menu-item: var(--clr-menu-dark-three);
}

.header header nav .header-link {
    position: relative;
    border-left: 1px solid transparent;
    padding: 8px;
    margin: 10px 0;
    font-size: .8rem;
    width: 100%;
    text-transform: capitalize;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}

.header header nav .header-link:first-child {
    margin: 0;
}

.header header nav .header-link:hover,
.header header nav .header-link.active {
    border-color: var(--clr-menu-item);
    color: var(--clr-menu-item);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 6px;
}

.menu .header_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    padding: 12px;
    height: 40px;
    width: 100%;
    border-radius: 6px;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.header_btn p {
    margin-right: 10px;

}

.btn-theme {
    padding: 12px;
    border-radius: 6px;
    background: var(--clr-menu-item);
}

@media (max-width: 1200px) {
    #cursor {
        display: none;
    }
}

@media (max-width: 768px) {
    .header header .active {
        width: 100vw;
    }

    .header header {
        overflow: scroll;
    }
}

.tx {
    color: #000;
    mix-blend-mode: difference;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.6rem;
}

section {
    height: 100vh;
    color: #fff;
}


#cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    z-index: 99999;
    backdrop-filter: invert(1);
    -webkit-backdrop-filter: invert(1);
    border-radius: 50%;
    pointer-events: none;
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
    transform: translate(-50%, -50%);
}

#cursor-text {
    position: fixed;
    color: #fff;
    mix-blend-mode: difference;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 99999;
    width: max-content;
    transform: translate(10px, -50%);
    transition: all .5s cubic-bezier(.215, .61, .355, 1);
}

#cursor-text p {
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    transform: translateY(-100%);
}

#cursor-text.enter p {
    transform: translateY(0%);
}

#cursor-text.leave p {
    transform: translateY(100%);
}

.image {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 25px;
    margin-left: 10px;
}

.image img {
    object-fit: contain;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    height: 100%;
}

::selection {
    background: #ffe600;
    color: #fff;
}

.bg-transition {
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.cbd {
    border: 1px solid red;
}

/* ! Grid System */
.grid {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100vw;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.grid--center {
    justify-content: center;
}

.col {
    flex: 1;
}

[class*='col-'] {
    position: relative;
    padding: 0 15px;
}

.grid .grid [class*='col-'] {
    padding: 0px;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: 33.33%;
}

.col-50 {
    width: 50%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

@media (max-width: 991px) {
    .tab-20 {
        width: 20%;
    }

    .tab-25 {
        width: 25%;
    }

    .tab-33 {
        width: 33.33%;
    }

    .tab-50 {
        width: 50%;
    }

    .tab-100 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    [class*='col-'] {
        width: 100%;
    }

    .sma-20 {
        width: 20%;
    }

    .sma-25 {
        width: 25%;
    }

    .sma-33 {
        width: 33.33%;
    }

    .sma-50 {
        width: 50%;
    }

    .sma-100 {
        width: 100%;
    }
}

::-webkit-scrollbar-button {
    background: #fff;
}

.grid-underlay {
    color: #fff;
    letter-spacing: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    z-index: -1;
}

.row {
    color: #fff;
    letter-spacing: 0;
    pointer-events: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: -1;
    font: inherit;
    vertical-align: baseline;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    padding-left: .21875rem;
    padding-right: .21875rem;
    max-width: none;
    height: 100%;
}

.xxlarge-1 {
    pointer-events: none;
    vertical-align: baseline;
    padding-left: 7px;
    padding-right: 7px;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    height: 100%;
}

.dashed {
    letter-spacing: 0;
    pointer-events: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
    width: 100%;
    border-left: 1px dashed rgba(128, 128, 128, 0.2);
    border-right: 1px dashed rgba(128, 128, 128, 0.2);
}